librosa==0.10.0.post2
mido==1.2.10
pyyaml==6.0
# appdirs==1.4.4 # Installed as dependency for pooch
# audioread==3.0.0 # Installed as dependency for librosa
# certifi==2023.5.7 # Installed as dependency for requests
# cffi==1.15.1 # Installed as dependency for soundfile
# charset-normalizer==3.1.0 # Installed as dependency for requests
# decorator==5.1.1 # Installed as dependency for librosa
# idna==3.4 # Installed as dependency for requests
# joblib==1.2.0 # Installed as dependency for librosa, scikit-learn
# lazy-loader==0.2 # Installed as dependency for librosa
# llvmlite==0.40.0 # Installed as dependency for numba
# msgpack==1.0.5 # Installed as dependency for librosa
# numba==0.57.0 # Installed as dependency for librosa
# numpy==1.24.3 # Installed as dependency for librosa, numba, scikit-learn, scipy, soxr
# packaging==23.1 # Installed as dependency for pooch
# pooch==1.6.0 # Installed as dependency for librosa
# pycparser==2.21 # Installed as dependency for cffi
# requests==2.31.0 # Installed as dependency for pooch
# scikit-learn==1.2.2 # Installed as dependency for librosa
# scipy==1.10.1 # Installed as dependency for librosa, scikit-learn
# soundfile==0.12.1 # Installed as dependency for librosa
# soxr==0.3.5 # Installed as dependency for librosa
# threadpoolctl==3.1.0 # Installed as dependency for scikit-learn
# typing-extensions==4.6.3 # Installed as dependency for librosa
# urllib3==2.0.2 # Installed as dependency for requests
